/* ================================= 
  Base Styles
==================================== */

.main-nav li {
  text-transform: uppercase;
  list-style: none;
  text-align: center;
}

h1, h2, h3 {
  text-align: center;
}

h2 {
  text-transform: uppercase;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

img {
  align-content: center;
}

.gray-text {
  color: darkgray; 
}

b {
  color: black;
}

/* ================================= 
  Base Layout Styles
==================================== */

header,
footer,
.gray-bg {
  background: rgba(235, 235, 235, .2);
}

footer {
  border-top: solid lightgrey 1px; 
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}