.main-nav li {
  text-transform: uppercase;
  list-style: none;
  text-align: center;
}

h1, h2, h3, li a {
  text-align: center;
  font-family: 'Alef';
}

h2 {
  text-transform: uppercase;
  padding-top: 25px;
}

p {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  margin: 0px;
  font-family: 'Abel';
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  margin: auto;
}

.gray-text {
  color: darkgray; 
}

b {
  color: black;
}

header,
footer,
.gray-bg {
  background: rgba(235, 235, 235, .5);
}

h1 {
  margin-top: 0px;
}

footer {
  border-top: solid lightgrey 1px; 
  margin-top: 0px;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
  float: right;
}

.screenshot {
  width: 300px;
}

.profile {
  width: 200px;
}

ul {
  padding-left: 0px;
}

.main-nav li a {
  width: 90%;
  background-color: white;
  display: block;
  margin-bottom: 10px;
  padding: 15px 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.description {
  margin-top: 15px;
  margin-bottom: 25px;
}